.landing-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-secondary);
  color: var(--color-clear);
  overflow-x: hidden;
  overflow-y: hidden;
}

.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.landing-content {
  background-color: var(--color-primary);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-image {
  display: none;
}

.landing-text {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.landing-text h2 {
  font-size: 30px;
  width: 100%;
  margin-bottom: 50px;
  color: #fff;
}

.landing-text p {
  margin-bottom: 50px;
}

.login-btn {
  background-color: var(--color-tertiary-dark);
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid var(--color-tertiary-lighter);
  padding: 15px 25px;
  transition: background-color 0.5s ease;
}

.login-btn:hover {
  background-color: var(--color-tertiary-lighter);
  cursor: pointer;
}

.signup-btn {
  background-color: var(--color-secondary-dark);
  color: black;
  border: 2px solid var(--color-secondary-light);
  font-size: 20px;
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  margin-left: 30px;
  margin-right: 30px;
  transition: background-color 0.5s ease;
}

.signup-btn:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-primary);
  cursor: pointer;
}

#bottom-login {
  margin-bottom: 25px;
}

/* Dropdown Menu */

.dropdown-content {
  position: absolute;
  background-color: #333;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  width: 100vw !important;
  height: 50vh;
  left: 0;
  top: 0;
  border: 3px solid var(--color-secondary-light);

  padding: 2rem;
  z-index: 500;

  display: flex;
  flex-direction: column;

  overflow-y: scroll;
}

.anchors {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.anchors a, .login a {
  padding: .2rem;
}

.anchors a:hover, .login a:hover {
  background-color: #fff;
  color: #333;
}

.login {
  border-top: 1px solid #fff;
}

.dropdown-content section {
  padding: 1rem 0;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1rem;
}

@media (min-width: 900px) {
  .landing-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .landing-text {
    padding: 4rem;
    width: 50%;
  }

  .landing-content {
    min-height: 60vh;
  }
}
