.green {
  color: var(--color-primary);
  font-weight: 600;
}

.signup-form-container {
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

@media (min-width: 900px) {
  .img-container {
    display: flex;
  }

  .signup-form-container {
    width: 40%;
    min-height: unset;
    padding-left: 80px;
    border-right: 10px solid var(--color-primary);
  }
}