:root {
	--color-clear: #CCCCCC;
	--color-primary: #0D0C1D;
	--color-primary-dark: #090814;
	--color-primary-light: #161B33;
	--color-secondary: #7D8597;
	--color-secondary-dark: #5C677D;
	--color-secondary-darker: #33415C;
	--color-secondary-light: #979DAC;
	--color-tertiary: #023E7D;
	--color-tertiary-dark: #023E7D;
	--color-tertiary-light: #0353A4;
	--color-tertiary-lighter: #0353A4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100vh;
}

body {
	background: var(--color-primary);
	font-family: 'Quicksand', sans-serif;
}